<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Jorge Botello - jorgbot</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header id="main_navigation" class="clearfix">
		<a href="#" class="name">Jorge Botello</a>
		<nav>
			<%= link_to "Articulos", posts_path %>
			<a href="#">Proyectos</a>
			<a href="contact.html">Contacto</a>
		</nav>
	</header>

<%= yield %>

</body>
</html>
